@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.font-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.scroll-w-0{
  scrollbar-width: 0;
  -ms-overflow-style: none;  
}

.scroll-w-0::-webkit-scrollbar {
  display: none;
}

.break-word{
  word-break: break-word;
}